<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4105cdc8-98d0-4dca-a953-71f7889e19ea/resourceGroups/VruRegistration/providers/Microsoft.Web/sites/VruRegistration</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://vruregistration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>vruregistration.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VruRegistration</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$VruRegistration</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>